<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.authority.mapper.SysRequestPathPermissionRelationMapper">

    <!-- 指定对应的数据库表和实体类映射关系 -->
    <resultMap id="BaseResultMap" type="com.example.authority.entity.SysRequestPathPermissionRelation">
        <id column="id" property="id"/>
        <result column="url_id" property="urlId"/>
        <result column="permission_id" property="permissionId"/>
    </resultMap>

</mapper>
